[Unit]
Description=Run i3lock on suspend
Before=sleep.target

[Service]
ExecStart=/usr/local/bin/user-bin-delegate {{ user_ }} lmm
User={{ user_ }}
Type=forking
Environment=DISPLAY={{ display }}

[Install]
WantedBy=sleep.target
