[Unit]
Description={{ description }}
{%- if before is defined %}
Before={{ before }}.target
{%- endif %}

[Service]
ExecStart={{ exec }}
{%- if type is defined %}
Type={{ type }}
{%- endif %}
{%- for env_pair in environment %}
{%- for k, v in env_pair.items() %}
Environment={{ k }}={{ v }}
{%- endfor %}
{%- endfor %}

[Install]
WantedBy={{ wanted_by }}.target
