name: Run end-to-end tests

on:
  pull_request:
  push:
    tags:
      - v*
  workflow_dispatch:
    inputs:

jobs:
  debian:
    name: Debian Lima VM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: ./.github/actions/lima
        with:
          template: debian

  fedora:
    name: Fedora Lima VM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: ./.github/actions/lima
        with:
          template: fedora

  ubuntu:
    name: Ubuntu Lima VM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: ./.github/actions/lima
        with:
          template: ubuntu
